/nbproject/private/
access.php

access.php

*.php
!/demo/distributor-operator/uploadImage.php
!/demo/operator/uploadImage.php
!/demo/operator/videos.php
!/demo/operator/images.php
!/demo/operator/account.php
!/demo/distributor/albumimages.php
!/demo/distributor/albumremoveImage.php
!/demo/distributor/album.php
!/demo/distributor/albumcreate.php
!/demo/distributor/albumdelete.php
!/demo/distributor/albumaddImage.php
!/demo/distributor/edit_video_privilages.php
!/demo/distributor/deleteVideo.php
!/demo/distributor/deleteBrochure.php
!/demo/distributor/uploadVideo.php
!/demo/distributor/getbrochuredetails.php
!/demo/distributor/uploadbrochure.php
!/demo/distributor/editvideocaption.php
!/demo/distributor/getlogos.php
!/demo/distributor/images.php
!/demo/distributor/editimagecaption.php
!/demo/distributor/downloadVideo.php
!/demo/distributor/uploadImage.php
!/demo/distributor/logos.php
!/demo/distributor/deletemage.php
!/demo/distributor/editbrochurecaption.php
!/demo/distributor/geo_media_search.php
!/demo/distributor/downloadBrochure.php
!/demo/distributor/editimageprivillege.php
!/demo/distributor/edit_brochure_prvilages.php
!/demo/distributor/videos.php
!/demo/distributor/searchMedia.php
!/demo/distributor/related_operator.php
!/demo/distributor/downloadLogo.php
!/demo/distributor/getvideodetails.php
!/demo/distributor-operator/deleteBrochure.php
!/demo/distributor-operator/deleteImag.php
!/demo/distributor-operator/deleteVideo.php
!/demo/distributor-operator/deletelogo.php
!/demo/distributor-operator/downloadBrochure.php
!/demo/distributor-operator/descriptionAddword.php
!/demo/distributor-operator/downloadVideo.php
!/demo/distributor-operator/downloadLogo.php
!/demo/distributor-operator/geoLocation.php
!/demo/distributor-operator/geoFeaturedsearch.php
!/demo/distributor-operator/getSingleimage.php
!/demo/distributor-operator/relatedOperator.php
!/demo/distributor-operator/uploadBrochure.php
!/demo/distributor-operator/uploadVideo.php
!/demo/operator/account_get.php
!/demo/operator/albumImages.php
!/demo/operator/album_remove_image.php
!/demo/operator/brochure_details.php
!/demo/operator/album_create.php
!/demo/operator/album_add_image.php
!/demo/operator/albums.php
!/demo/operator/brochures.php
!/demo/operator/edit_video_privilege.php
!/demo/operator/descriptions.php
!/demo/operator/download_image.php
!/demo/operator/getDistributor.php
!/demo/operator/getOpimages.php
!/demo/operator/edit_video_caption.php
!/demo/operator/edit_brochure_privilege.php
!/demo/operator/edit_image_caption.php
!/demo/operator/download_video.php
!/demo/operator/download_brochure.php
!/demo/operator/edit_brochure_caption.php
!/demo/operator/description_text.php
!/demo/operator/related_operator.php
!/demo/operator/uploadBrochure.php
!/demo/operator/video_details.php
!/demo/registration/operator.php
!/narnoo/builder.php